In [1]:
# Load library
import pandas as pd

In [2]:
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/titanic.csv'

In [3]:
# Load data
dataframe = pd.read_csv(url)

In [4]:
# Get the minimum of every column
dataframe.agg("min")

Name        Abbing, Mr Anthony
PClass                       *
Age                       0.17
Sex                     female
Survived                     0
SexCode                      0
dtype: object

In [5]:
# Mean Age, min and max SexCode
dataframe.agg({"Age":["mean"], "SexCode":["min", "max"]})

            Age  SexCode
mean  30.397989      NaN
min         NaN      0.0
max         NaN      1.0

In [6]:
# Number of people who survived and didn't survive in each class
dataframe.groupby(["PClass","Survived"]).agg({"Survived":["count"]}).reset_index()

  PClass Survived
                  count
0      *        0     1
1    1st        0   129
2    1st        1   193
3    2nd        0   160
4    2nd        1   119
5    3rd        0   573
6    3rd        1   138